{% extends 'base.html' %}
{% block content %}

<main>
  <div>

    <h1>{{ country.name }}</h1>
    <h2>{{ country.flag }}</h2>
    <h4>All the {{country.name}} leagues:</h4>
    {% for league in leagues  %}
    {% if  country.id == league.country.id %}
        
    
    <a href="/leagues/{{league.id}}">{{ league.name }}</a>
    <h5>{{ league.logo }}</h5>
    {% endif %}
    {% endfor %}
    <a href="/leagues/new">Add a League</a>

    <form action="/countries/{{country.id}}/delete" method = "POST">
      <button>Delete Country</button>
    </form>
  </div>
</main>
{% endblock content %}