{% extends 'base.html' %}
{% block content %}


  <section class="show-league">
  <h3 class="title" >Football Leagues in {{country.name}}:</h3>
  </section>

  <section class="leagues-class">
    {% for league in leagues  %}
    {% if  country.id == league.country.id %}
    <a href="/leagues/{{league.id}}">{{ league.name }}</a>
    {% endif %}
    
    {% endfor %}
    <form>
    <a class="btn-style" href="/leagues/new"><button type="button">ADD A LEAGUE</button></a>
    </form>

    <form action="/countries/{{country.id}}/delete" method = "POST">
      <button class="style-btn">DELETE COUNTRY</button>
   
  
  </section>
</form>
{% endblock content %}

<div class="add-new-country">
 