{% extends 'base.html' %}
{% block content %}
<main>
  <div>
    {% if ground.visited %}
    <h1>{{ ground.name }}
    &#9989; </h1>
    {% else %}
    <h1>{{ ground.name }} &#10060; </h1>
    {% endif %}
      <form action="/groundss/visited/{{ground.id}}" method = "POST">
        <label for="visited">VISITED?</label>
        <input type="checkbox" id = "visited" name = "visited" value = "true" {{"checked" if ground.visited }}>
        <input type="submit" value = "YES!">
      </form>
    
      <h2>{{ ground.location }}</h2>
      <h3>{{ ground.team }}</h3>
      <h4>{{ ground.capacity }}</h4>

    <h3>{{ ground.name }} is currently the home of {{ ground.team }} in the {{ ground.league.name }}</h3>

     <!-- Promotion Button -->
     <form>
     <label for="promoted">Was {{ ground.team }} promoted?</label>
    <form action="/grounds/promotion/{{ground.id}}" method ="POST">
      <input type="submit" value="YES" name = "promotion">
    </form>
  </form>
  

     <!-- Relegation Button -->
     <form>
     <label for="relegated">Was {{ ground.team }} relegated?</label>
    <form action="/grounds/relegation/{{ground.id}}" method ="POST">
      <input type="submit" value="YES" name = "relegation">
    </form>
  </form>
    

     <!-- Edit Link -->
    
    <a><button class="style-btn" href="/grounds/{{ground.id}}/edit">EDIT GROUND</button></a>
    <br>
     <!-- Delete Ground Button -->
     <form action="/grounds/{{ground.id}}/delete" method = "POST">
      <button class="style-btn">DELETE GROUND</button>
    </form>
      
  </div>
</main>
{% endblock content %}