{% extends 'base.html' %}
{% block content %}
            <h2 class="about-header">ABOUT</h2>
            <p>Groundhopper is designed to help football fans keep track of the stadiums they have visited and those they still want to visit. 
            The app allows users to select different countries and their respective leagues, including the Premier League, Bundesliga, Serie A, La Liga, Ligue 1 and many more. 
            Each country has one or more leagues in it, and each league has their respective football grounds to visit. 
            Users can create and delete entries for countries, leagues and football grounds and mark them as visited or still to see. </p>
            
            {% endblock %} 