{% extends 'base.html' %}
{% block content %}

<main>
  <div>
    <h1>Add a new League:</h1>
    <form action="/leagues" method = "POST">
        <label for="name">League Name</label>
        <input type="text" id = "name" name = "name">

        <label for="logo">League Logo</label>
        <input type="text" id = "logo" name = "logo">
       
        <label for="country">Country</label>
        <select name="country_id" id="country">
          {% for country in countries %}
            
          <option value="{{country.id}}">{{country.name}}</option>
          {% endfor %}


        </select>

        <input type="submit">
    </form>
  </div>
</main>
{% endblock content %}