{% extends 'base.html' %}
{% block content %}
<main class = "countries_main_container">
  <div class = "country_container">
    
    <h1>All the {{league.name}} Grounds:</h1>
    {% for ground in grounds  %}
    {% if  league.id == ground.league.id %}
    
    {% if ground.visited %}
    <a class = "link" href="/grounds/{{ground.id}}">{{ ground.name }} &#9989; </a>
    <h5>{{ ground.capacity }}</h5>
    {% else %}
    <a href="/grounds/{{ground.id}}">{{ ground.name }} &#10060; </a>
    <h5>{{ ground.capacity }}</h5>
    {% endif %}
    {% endif %}
    {% endfor %}
    <form>
      <a class="btn-style" href="/grounds/new"><button type="button">ADD A GROUND</button></a>
      </form>
    <!-- <a href="/grounds/new">Add a Football Ground:</a> -->
    <!-- <form action="/leagues/{{league.id}}/delete" method = "POST">
      <button>Delete the whole League</button> -->
    </form>
    <form action="/leagues/{{league.id}}/delete" method = "POST">
      <button class="style-btn">DELETE LEAGUE</button>
    </form>
      
  </div>
</main>
{% endblock content %}